<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;">Konstructiva app</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/proyecto/lista">Proyectos</a></li>
                <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
                <li><a style="color:black;" href="/ejecucion/contratost">Ejecucion</a></li>
                <li><a style="color:white;" href="collapsible.html">Personal</a></li>
                <li><a style="color:white;" href="collapsible.html">Reportes</a></li>
                <a href="/login" class="btn btn-red">Cerrar sesión </a>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a style="color:white;" href="/ejecucion/contratost">Lista de contratos temporales</a>
                </li>
                <li class="tab"><a class="active" style="color:black;" href="/ejecucion/crear-contratost">Crear contrato
                        temporal</a></li>
            </ul>
        </div>
    </nav>

    <div class="caja">
        <form action="/proyecto/nuevo" method="POST">
            <h5 style="color:black; margin-left:15px; margin-top:25px;">Detalles del contrato</h5>
            <div class="form-group col s5" style="margin:10px;">
                <label style="margin-left: 15px; margin-top:15px; color:black">Número del contrato</label>
                <input type="number" style="color:black;margin-right:5px;" name="numcontrat" class="form-control"
                    autofocus />
            </div>
            <div class="form-grop" style="margin:10px;">
                <label style="color:black;margin-left: 15px; margin-top:15px;">Nombre del contratista</label>
                <input onkeypress="return /[a-z]/i.test(event.key)" style="background-color:#F6EABE;margin-right:5px;"
                    class="form-control" name="namepc">
            </div>
            <div class="form-group col s5" style="margin:10px;">
                <label style="margin-left: 15px; margin-top:15px; color:black">Cédula</label>
                <input type="number" style="color:black;margin-right:5px;" name="numcedula" class="form-control" />
            </div>
            <div class="form-group" style="margin:10px;">
                <label style="color:black; margin-left: 15px; margin-top:15px">Fecha Inicio del contrato</label>
                <input type="text" style="margin-right:5px;" class="datepicker form-control" name="fecha_inicioct">
            </div>
            <div class="form-group" style="margin:10px;">
                <label style="color:black; margin-left: 15px; margin-top:15px">Fecha Final del contrato</label>
                <input type="text" style="margin-right:5px;" class="datepicker form-control" name="fecha_finalct">
            </div>
            <div class="form-group col s5" style="margin:10px;">
                <label style="margin-left: 15px; margin-top:15px; color:black">Valor del contrato</label>
                <input type="number" style="color:black;margin-right:5px;" name="valorct" class="form-control" />
            </div> <!-- lo puedes poner con el signo pesos?-->
            <div id="hidden-inputs"></div>
            <div class="form-group">
                <button style="display: block; margin: 0 auto; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown2 btn-block" type="submit">
                    Crear contrato temporal
                </button>
            </div>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('.datepicker').datepicker();
            });
        </script>
    </div>
</div>