<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="body">
  <nav class="nav-extended" style="background-color:#87AAAA; ">
    <div class="nav-wrapper">
      <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;">Konstructiva app</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="color:black;" href="/proyecto/lista">Proyectos</a></li>
        <li><a style="color:white;" href="/cliente/lista">Clientes</a></li>
        <li><a style="color:white;" href="/ejecucion/contratost">Ejecucion</a></li>
        <li><a style="color:white;" href="collapsible.html">Personal</a></li>
        <li><a style="color:white;" href="collapsible.html">Reportes</a></li>
                      <a href="/login" class="btn btn-red">Cerrar sesión </a>

      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a style="color:White;" href="/proyecto/lista">Lista de proyectos</a></li>
        <li class="tab"><a class="active" style="color:white;" href="/proyecto/add">Crear</a></li>
        <li class="tab"><a style="color:black;" href="/proyecto/compras">Compras</a></li>
      </ul>
    </div>
  </nav>
  <div class="row" style="background-color: #F6D7A7;">
    {{#each proyectos}}
    <div class="col-md-3" style="margin:30px;">
      <div class="card" style="border: 5px solid #87AAAA; background:#F6EABE;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">
            Nombre Proyecto :
          </h6>
          <p>
            {{this.dataValues.namep}}
          </p>
          <h6 class="card-subtitle mb-2 text-muted">
            Anticipos :
          </h6>
          <p>
            {{this.dataValues.anticipo}}
          </p>
          <center>
            <form action="/proyecto/anticipos/{{this.dataValues.id}}">
                <div>
                    <label for="subirPdf">Subir facturas</label>
                    <input type="file" name="subirPdf" id="subirPdf"> 
                </div>
            </form>
          </center>
        </div>
      </div>
    </div>
    {{else}}
    <center>
      <div class="card mx-auto">
        <div class="card-body">
          <p class="lead" style="text-align: center;">
            Todavía no has creado un proyecto
          </p>
        </div>
      </div>
  </div>
  </center>
  {{/each}}
</div>
