
.body{
    background-color:#F6D7A7;
    font-family: 'Tahoma', sans-serif;
    height: 100vh;
    width: 100vw;


}

.cuadrado {
    padding: 5px;
    margin-left: auto;
    display:block;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width:180px;
    background-color: #F6EABE;
    border: solid 1px #F6EABE;
    color: black;
}

.card{
  position: absolute;
  margin-top:20px;
  margin-left: 50px;
}

.caja {
  font-family: 'Ubuntu', sans-serif;
  background:#F6EABE;
  border: 5px solid #87AAAA;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5px;
  overflow: hidden;
  padding: auto;
  position: center;
  }


.ROBOTOSLAB{
  font-family: 'Ubuntu';
}
 
.btn-ross{
    background-color:#006eff !important;
    color:white;
  }
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  /* FORM TYPOGRAPHY*/
  
  
  input[type=text] {
    background-color: #f6f6f6;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 15px;
    size: 30px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #F2F2F2;
  }
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
 
  .btn-brown{
    background-color: #A67B60 !important;
    color: #fff;
}

.btn-brown1{
  background-color: #B8D1C3  !important;
  color: #fff;
}

.btn-brown2{
  background-color: #87AAAA !important;
  color: #fff;
}


