<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="body">
    <div class="wrapper fadeInDown">
        <div class="container">
            <div class="col-md-5 mx-auto text-center">
                <div class="card">
                    <div class="ROBOTOSLAB">
                        <!-- Title -->
                        <div class="cuadrado">Konstructiva App</div>
                        <!-- Login Form -->
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <input type="username" id="login" name="username" class="form-control" placeholder="Usuario"
                                    autofocus />
                                <!--<small id="login" class="form-text text-muted">¿Olvidaste tu usuario o constraseña?</small>-->
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="Contraseña" />
                            </div>
                            <div class="form-group">
                                <button href="/proyecto/lista" class="btn btn-ross" type="submit">
                                    Iniciar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>