<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" </a>
        </div>
    </nav>
<div class="p1">

    
</div>
    <div class="caja">
        <form action="/api/auth/signup" method="POST">
            <center>
                <h2 class="p1"style="color:black; margin-left:15px; margin-top:25px;"> <b>Bienvenido a Konstructiva App</b>
                    {{user.dataValues.username}} </h2>
                <h3 class="p1"style="color:black; margin-left:15px; margin-top:25px;"> <b>Tu rol es: </b>
                    {{user.dataValues.role}} </h3>
            </center>
                <a href="/proyecto/lista"
                    style="color:black;display: block; margin: 35% ; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown1 btn-block" type="submit">
                    <b class="p1">Entrar al sistema</b>
                </a>
                <a href="/login"
                    style="color:black;display: block; margin: 35%; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown btn-block" type="submit">
                    <b class="p1">Salir del sistema</b>
                </a>
                <!--
                <button onclick="location.href=/login"
                    style="color:black;display: block; margin: 0 auto; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown" type="submit">
                    <b class="p1">Salir del sistema</b>
                </button>-->
        </form>
    </div>
</div>