<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h1><b class="p1">Konstructiva App</b></h1>
        <p class="p1" >El mundo no es un ángulo recto</p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form action="/api/auth/signin" method="POST">
                <div class="form-group" style="margin:10px;">
                    <label><b class="p1">Usuario</b></label>
                    <input onkeypress="return /[a-z,1-9]/i.test(event.key)" minlength="8" maxlength="32"
                        class="form-control" name="username" required>
                </div>

                <div class="form-group" style="margin:10px;">
                    <label><b class="p1">Contraseña</b></label>
                    <input type="password" class="form-control" minlength="8" maxlength="32" name="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-black p1" type="submit">
                        <b>Entrar</b>
                    </button>
            </form>
        </div>
    </div>
</div>

</div>

<style>
    body {
        font-family: "Lato", sans-serif;
    }



    .main-head {
        height: 150px;
        background: #FFF;

    }

    .sidenav {
        height: 100%;
        background-color: #2E7373;
        overflow-x: hidden;
        padding-top: 20px;
    }


    .main {
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }

    @media screen and (max-width: 450px) {
        .login-form {
            margin-top: 10%;
        }

        .register-form {
            margin-top: 10%;
        }
    }

    @media screen and (min-width: 768px) {
        .main {
            margin-left: 40%;
        }

        .sidenav {
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
        }

        .login-form {
            margin-top: 80%;
        }

        .register-form {
            margin-top: 20%;
        }
    }


    .login-main-text {
        margin-top: 20%;
        padding: 60px;
        color: #000;
    }

    .login-main-text h2 {
        font-weight: 300;
    }

    .btn-black {
        background-color: #2E7373 !important;
        color: #fff;
    }
</style>