<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo p1" style="margin-left: 20px; color:black;"><b>Konstructiva app</b></a>
        </div>
    </nav>
    <div class="caja">
        <form action="/api/auth/signup" method="POST">
            <h5 style="color:black; margin-left:15px; margin-top:25px;"> <b class="p1">Registrar usuario</b></h5>
            <div class="form-group col s5" style="margin:10px;">
                <label style="margin-left: 15px; margin-top:15px; color:black"><b class="p1"><i>Nombre de
                            usuario</i></b></label>
                <input onkeypress="return /[a-z]/i.test(event.key)" style="background-color:#F6EABE; margin-right:5px;"
                    class="form-control" name="username" required autofocus />
            </div>
            <div class="form-group col s5" style="margin:10px;">
                <label style="margin-left: 15px; margin-top:15px; color:black"><b class="p1"><i>Correo
                            electrónico</i></b></label>
                <input type="text" style="margin-right:5px;" class="form-control" name="email" required />
            </div>
            <div class="form-group col s5" style="margin:10px;">
                <label style="margin-left: 15px; margin-top:15px; color:black"><b
                        class="p1"><i>Contraseña</i></b></label>
                <input type="text" style="margin-right:5px;" class="form-control" name="password" required />
            </div>
            <div class="form-group" style="margin:10px;">
                <label style="color:black;margin-left: 15px; margin-top:15px;"><b
                        class="p1">Rol</b></label>
                <select style="background:#F6D7A7; border: solid 1px #F6EABE" class="form-select form-select-sm p1" name="role" required>
                    <option style="background:#F6EABE;" selected> </option>
                    <option style="background:#F6EABE;">administrador</option>
                    <option style="background:#F6EABE;">compras</option>
                    <option style="background:#F6EABE;">contador</option>
                </select>
            </div>

            <div id="hidden-inputs"></div>
            <div class="form-group">
                <button style="color:black; block; margin:  auto; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown2 btn-block p1" type="submit">
                    <b>Crear usuario</b>
                </button>
                <a href="/login" style="color:black;display: block; margin: 40%; margin-top:30px; margin-bottom:25px;"
                    class="btn btn-brown btn-block" type="submit">
                    <b class="p1">Iniciar sesión</b>
                </a>
            </div>
        </form>
    </div>
</div>