<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="body">
    <nav class="nav-extended" style="background-color:#87AAAA; ">
        <div class="nav-wrapper">
            <a href="#" class=" brand-logo" style="margin-left: 20px; color:black;">Konstructiva app</a>
        </div>
    </nav>
    <center>
        <h6>
            Registro de usuario:
        </h6>
    </center>


    <div class="caja">
        <form action="/api/auth/signup" method="POST">
            <div class="form-group" style="margin:10px;">
                <label style="color:black;margin-left: 15px; margin-top:15px;">Usuario</label>
                <input onkeypress="return /[a-z]/i.test(event.key)" style="background-color:#F6EABE; margin-right:5px;" class="form-control" name="username" required>
            </div>

            <div class="form-group" style="margin:10px;">
                <label style="color:black;margin-left: 15px; margin-top:15px;">Email</label>
                <input type="text" style="margin-right:5px;" class="form-control" name="email" required>
            </div>

            <div class="form-group" style="margin:10px;">
                <label style="color:black;margin-left: 15px; margin-top:15px;">Contrasena</label>
                <input type="text" style="margin-right:5px;" class="form-control" name="password" required>
            </div>

            <div class="form-group" style="margin:10px;">
                <label style="color:black;margin-left: 15px; margin-top:15px;">Rol</label>
                <select class="form-select form-select-sm" name="role" required>
                    <option selected> </option>
                    <option>administrador</option>
                    <option>compras</option>
                    <option>contador</option>
                </select>
            </div>



            <div class="form-group">
                <button style="color:black;display: block; margin: 0 auto; margin-top:30px; margin-bottom:25px;"
                        class="btn btn-brown2 btn-block" type="submit">
                    Crear Usuario
                </button>
            </div>
        </form>
        <center>
            <a href="/login"
               class="btn btn-red" type="submit">
                Iniciar Sesion

            </a>
        </center>
    </div>
</div>

